body {
  background-color: #C3D3DB;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 90% 1fr;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.contentContainer {
  grid-row: 2/5;
  grid-column: 1/4;
  background-color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  border-top: solid 3px #2B485C;
  border-bottom: solid 3px #2B485C;
}

.title {
  margin: 0;
  color: #E4ABBD;
  font-size: 40px;
  text-align: center;
}
.title h1 {
  margin: 20px;
  margin-top: 5px;
}

.links {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: auto;
  margin: 10px;
}
.links p {
  font-size: 12px;
}

.projects {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 200px;
  margin: 10px;
  text-align: center;
  align-items: center;
}
.projects a {
  text-decoration: none;
  color: #2B485C;
}
.projects a:hover {
  color: #E4ABBD;
}
.projects a:active {
  color: #E4ABBD;
  text-shadow: 1px 1px;
}
.projects a:visited {
  color: #2B485C;
}
.projects h2 {
  text-decoration: none;
  font-size: 18px;
}

.pic {
  height: 100px;
  width: 150px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    grid-template-columns: 1fr 75% 1fr;
  }

  .title {
    font-size: 25px;
  }

  .contentContainer {
    grid-row: 1/6;
    grid-column: 1/4;
    background-color: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    border-top: 0;
    border-bottom: 0;
    border-left: 3px solid #2B485C;
    border-right: 3px solid #2B485C;
  }

  .links {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
    margin: 10px;
  }
}
